nav {
    margin-right: 0%;
    padding: 10px 0;
    max-width: 960px;
}
nav > ul {
    text-align: right;
}
ul > li {
    display: inline-block;
    color: blue;
}
h1 {
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    float: inline-start;
}
h3 {
    color: blue;
}