h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    color: blue;
    font-family: serif;
}
body {
    color: red;
    background-color: gold;
    background-image: download.jpeg;
}
nav{
    max-width: 960px;
    margin-right: 0%;
    padding: 10px 0;
    margin: 0 auto;
}
nav > ul > li {
    display: inline-block;
    color:green;
}
img {
    text-align: center;
}
