nav {
    margin-right: 0%;
    padding: 10px 0;
    max-width: 960px;
}
nav > ul {
    text-align: right;
}
ul > li {
    display: inline-block;
    color: white;
}
h1 {
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    float: inline-start;
    font-weight: bolder;
    text-align: start;
}
h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#img {
    justify-content: center;
    float: right;
    display: contents;
    flex: auto;
}
div > #contacts > p {
    color: red;
    font-weight: bolder;
}

.container {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
}
#icons {
    flex-direction: row;
}
body {
    background-color: teal;
    background-repeat: no-repeat;
}
div > .mee {
    flex-direction: column;
    justify-content: space-around;
}
#pic {
    float: right;
}
h4 {
    color: white;
    font-size: x-small;
    font-family: fantasy;
    text-align: center;
}